<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat code coverage">
				<Configuration>
					<Include>
						<Include>[Nabs*]*</Include>
						<!-- Include all types in Nabs namespace -->
					</Include>
					<Exclude>
						<ExcludeByAttribute>GeneratedCodeAttribute</ExcludeByAttribute>
						<!--<ExcludeByFile>**/Nabs.OpenAi/DependencyInversionExtensions.cs,**/BindingExtensions.g.cs</ExcludeByFile>-->
						<ExcludeByFile>**/*.g.cs</ExcludeByFile>
						<!-- Exclude code marked as generated -->
					</Exclude>
					<Threshold>80</Threshold>
					<ThresholdType>line</ThresholdType>
					<ThresholdStat>total</ThresholdStat>
					<ReportFormat>lcov</ReportFormat>
					<ReportDirectory>./TestResults/CoverageReports</ReportDirectory>
					<SingleHit>true</SingleHit>
					<SkipAutoProps>true</SkipAutoProps>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>
