<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat code coverage">
				<Configuration>
					<Exclude>
						<ExcludeByAttribute>GeneratedCodeAttribute</ExcludeByAttribute>
						<ExcludeByFile>[Nabs*]*/*.g.cs,</ExcludeByFile>
					</Exclude>
					<Include>
						<Include>[Nabs*]*</Include>
					</Include>
					<IncludeTestAssembly>false</IncludeTestAssembly>
					<Threshold>80</Threshold>
					<ThresholdType>line</ThresholdType>
					<ThresholdStat>total</ThresholdStat>
					<ReportFormat>lcov</ReportFormat>
					<ReportDirectory>./TestResults/CoverageReports</ReportDirectory>
					<SingleHit>true</SingleHit>
					<SkipAutoProps>true</SkipAutoProps>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>
